
# These are the maintainers in the repo.
# These owners will be the default owners for everything in the repo.
# We require at least two maintainers to sign off on a new term.

* @caniszczyk @CathPag @jasonmorgan @seokho-son


# These are the owners for localization contents
# in each `/content/language/` directory.

# Owners of Korean contents
/content/ko/ @seokho-son @Eviekim @jihoon-seo

# Owners of Portuguese contents
/content/pt/ @edsoncelio @brunoguidone

# Owners of Hindi contents
/content/hi/ @Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava

# Owners of German contents
/content/de/ @CathPag @iamNoah1 @DaveVentura

# Owners of Italian contents
/content/it/ @Giulia-dipietro @meryem-ldn @annalisag-spark @sistella

# Owners of Arabic contents
# /content/ar/ @TarekMSayed @same7ammar @AShabana @hacktron95

# Owners of Bengali contents
# /content/bn/ @mitul3737 @Mouly22 @ikramulkayes
