
# These are the maintainers in the repo.
# These owners will be the default owners for everything in the repo.
# We require at least two maintainers to sign off on a new term.

* @caniszczyk @CathPag @jasonmorgan @seokho-son


# These are the owners for localization contents
# in each `/content/language/` directory.

# Owners of Korean contents
/content/ko/ @seokho-son @Eviekim @jihoon-seo

# Owners of Portuguese contents
/content/pt/ @edsoncelio @brunoguidone

# Owners of Hindi contents
/content/hi/ @Garima-Negi @sayantani11 @anubha-v-ardhan @jayesh-srivastava

# Owners of German contents
/content/de/ @CathPag @iamNoah1

