
.permalink {
background-image: url(../images/link.png);
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
font-size: 0;
color: transparent;
width: 17px;
height: 17px;
margin-left: 10px;
}

.term-anchor {
display: block;
position: relative;
top: -90px;
visibility: hidden;
}

.tag-option {
padding: 5px;
margin: 10px;
float:left;
}

.canonical-tag {
color: white;
background-color: $gray-700;
border-radius: 5px;
}

.canonical-tag a {
color: inherit;
text-decoration: none;
font-weight: 400;
padding: 0 5px;
font-size: 14px;
}

.active-tag {
background-color: $link-color;
}

.invisible {
visibility: hidden;
}

#tag-container {
margin: 35px 0px;
}

.tag-description {
text-align: center;
margin: 5px 0px;
}

#terms-by-tag {
    clear: both;
    padding-top: 3rem;

    h3 {
        margin-top: 2.5rem;
    }
}