{{ define "main" }}
<div>
    <h1>{{ .Title }}</h1>

    <script src="{{ "js/tag-search.js" | relURL }}"></script>

    {{ $tags := index .Site.Taxonomies "tags" }}

    <div id="tag-container">
        {{ range $tags }}
            {{ $tagid := printf "tag-%s" .Page.Title }}
            <span id="{{ $tagid  }}" class="tag-option canonical-tag" data-target="{{ $tagid  }}">
                <a class="taxonomy-label" href="javascript:void(0)">{{ title .Page.Title }}</a>
            </span>
        {{ end }}
        <span class="tag-option"><a id="select-all-tags" href="javascript:void(0)">{{ T "layouts_docs_glossary_select_all" }}</a></span>
        <span class="tag-option"><a id="deselect-all-tags" href="javascript:void(0)">{{ T "layouts_docs_glossary_deselect_all" }}</a></span>
    </div>



</div>
{{ end }}