{{ define "main" }}
<div>
    <h1>{{ title ( T "ui_search_by_tags" ) }}</h1>

    <script src="{{ "js/tag-search.js" | relURL }}"></script>

    {{ $tags := index .Site.Taxonomies "tags" }}

    <div id="tag-container">
        {{ range $tags }}
            {{ $tagid := printf "tag-%s" .Page.Title }}
            <span id="{{ $tagid  }}" class="tag-option canonical-tag" data-target="{{ $tagid  }}">
                <a class="taxonomy-label" href="javascript:void(0)">{{ title .Page.Title }}</a>
            </span>
        {{ end }}
        <span class="tag-option"><a id="select-all-tags" href="javascript:void(0)">{{ T "ui_select_all" }}</a></span>
        <span class="tag-option"><a id="deselect-all-tags" href="javascript:void(0)">{{ T "ui_deselect_all" }}</a></span>
    </div>
    
    {{ $glossary_items := (where .Site.Pages "Params.status" "Completed") | union (where .Site.Pages "Params.status" "completed") }}
    {{ with $glossary_items }}
        {{ $glossary_terms := sort . "Title" "asc" }}
        <div id="terms-by-tag">
            {{ range $glossary_terms }}
                {{ $.Scratch.Set "tag_classes" "" }}
                {{ range .Params.tags }}
                    {{ with . }}
                        {{ $.Scratch.Add "tag_classes" (printf "tag-%s " .)  }}
                    {{ end }}
                {{ end }}
                {{ $term_identifier := (printf "term-%s" .Params.id) }}
                
                <div class="{{ $.Scratch.Get "tag_classes" }} hide" data-show-count="0">
                    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    <div>
                        {{ replace ( .Summary | markdownify ) "What it is" "" }}..
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}

</div>
{{ end }}