{{ $context := .context  }}
{{ $taxo := .taxo  }}
{{ $title := .title  }}
{{ if isset $context.Site.Taxonomies ( lower $taxo ) }}
  {{ $taxonomy := index $context.Site.Taxonomies ( lower $taxo ) }}
  {{ if (gt (len $taxonomy) 0)}}
    <div class="taxonomy taxonomy-terms-cloud taxo-{{ urlize $taxo }}">
      {{ with $title }}
        <h5 class="taxonomy-title">{{ . }}</h5>
      {{ end }}
      <ul class="tax-terms">
        {{ range $taxonomy }}
          {{ $key := printf "tag_%s" (lower .Page.Title) }}
          {{ $name := i18n $key }}
          {{ if eq $name $key }}
            {{ $name = title .Page.Title }}
          {{ end }}
          <li><a class="tax-term" href="{{ .Page.RelPermalink }}" data-taxonomy-term="{{ urlize .Page.Title }}"><span class="taxonomy-label">{{ $name }}</span></a><span class="taxonomy-count">({{ .Count }})</span></li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}