name: Links

on:
  pull_request:

jobs:
  build-and-check-links:
    name: CHECK LINKS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: package.json
      - run: npm install --omit=optional
      - run: npm run check:links
