name: "Pull Request Labeler"
on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'content/**'
    branches:
      - '**'

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"